<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190742805625-8mf5ucuvhhso4qr2p0tg0vepc3f5sneh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190742805625-8mf5ucuvhhso4qr2p0tg0vepc3f5sneh</string>
	<key>API_KEY</key>
	<string>AIzaSyC6GOtP3QARfylRDg7DZ-GtGXLxSd21Oow</string>
	<key>GCM_SENDER_ID</key>
	<string>190742805625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agha.aghaskin</string>
	<key>PROJECT_ID</key>
	<string>aghaskin-beh-proj</string>
	<key>STORAGE_BUCKET</key>
	<string>aghaskin-beh-proj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190742805625:ios:59f24e645760fc86d0a8a8</string>
</dict>
</plist>